<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
    <div class="col-2">
        <a class="navbar-brand h1" href="#">ManceSoftware</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link " href="#">Sedes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estrenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Boletería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Snacks</a>
            </li>
        </ul>
    </div>
    <div class="col-1">
        <app-login></app-login>        
    </div>
</nav>