<footer class="page-footer font-small bg-light pt-4 mt-auto">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold   mt-3 mb-4"><a>Información legal</a></h5>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold   mt-3 mb-4">Acerca de ManceSoftware</h5>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold   mt-3 mb-4">Contáctanos PQRS</h5>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold   mt-3 mb-4">Preguntas frecuentes</h5>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Registrate gratis</h5>
      </li>
      <li class="list-inline-item">
        <a href="register" class="btn btn-danger btn-rounded">¡Registrate!</a>
      </li>
    </ul>
    <hr>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
            <i class="bi bi-facebook h3"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
            <i class="bi bi-instagram h3"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-yt mx-1">
          <i class="bi bi-youtube h3"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
            <i class="bi bi-twitter h3"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-lin mx-1">
          <i class="fab fa-linkedin-in h3"> </i>
        </a>
    </li>   
    </ul>
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="#">ManceSoftware.com</a>
    </div>
  </footer>